<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>电频</title>
  <link rel="stylesheet" href="./module/index.css">
  <link rel="stylesheet" href="./vue_template.css">
  <link rel="stylesheet" href="frequency.css">
</head>

<body>
  <div id="power_frequency" v-loading="total_page_loading" element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.8)"
    style="width: 100%;height: 100%;position: absolute;" v-cloak>
    <!-- 整体页面背景 -->
    <img src="./img/背景.png" style="position: absolute;width: 100vw;height: 100vh;z-index: -999;">
    <!-- 抬头样式 -->
    <div style="position: relative;width: 100%;height: 5%;">
      <img src="./img/抬头背景.png" style="width: 100%;height: 100%;object-fit: cover;position: absolute;top: 0;left: 0;">
      <div style="width: 100%;height: 100%;display: flex;">
        <img src="./img/返回按钮.png" class="returnButton">
        <img src="./img/logo.png" class="logo">
        <span class="logoTitle">音频物联软件 V1.6</span>
        <div class="verticalBar"></div>
        <span class="deviceName">DSP</span>
        <span class="deviceNameSubscript">DM1608</span>
        <img class="rightSideButton" src="./img/设置按钮.png">
        <img class="rightSideButton" src="./img/最小化按钮.png">
        <img class="rightSideButton" src="./img/最大化按钮.png">
        <img class="rightSideButton" src="./img/关闭按钮.png">
      </div>
    </div>
    <!-- 中部样式 -->
    <div class="topSwitchBar">
      <!-- 背景 -->
      <div
        style="z-index: -99;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: linear-gradient(0deg, #040D19, #041F52);">
      </div>
      <!-- 选项切换卡 -->
      <div style="grid-area: b;display: flex;">
        <div class="option" v-for="option,index in static_par.options" @click="switch_option(index)">{{option}}
          <img :src="static_par.option_focus==index?'./img/选项切换亮.png':'./img/选项切换暗.png'" class="img_bg">
        </div>
      </div>
      <!-- 离线在线 -->
      <div style="grid-area: c;justify-self: end;margin-right: 10%;">
        <img style="width: 15px;height: 12px;" src="./img/警告标识.png">
        <span style="font-size: 12px;color: #32548a;">设备不在线</span>
      </div>
    </div>
    <!-- 详情 -->
    <div class="detail">
      <!-- 电频显示容器 -->
      <div class="frequency_box" v-if="static_par.option_focus==0">
        <div class="frequency_box_bg">
          <img src="./img/输入设备电频.png" class="frequency_box_bg_icon">
          <!-- 输入电频 -->
          <div class="frequency_bg">
            <div v-for="input,index in processor_detail.Channel_input_list" class="single_frequency_bar">
              <span style="font-size: 0.62vw;color: #2865C9;">{{input.gain}}</span>
              <div class="single_frequency_bar_box">
                <img src="./img/输入设备电频条.png" style="width: 100%;height: 100%;position: absolute;">
                <div :style="change_frequency_height(input)" class="input_progress_bar"></div>
              </div>
              <span style="font-size: 0.62vw;color: #ABCBFF;font-weight: bold;">I{{input.channel_no}}</span>
            </div>
          </div>
        </div>
        <div class="frequency_box_bg">
          <img src="./img/背景样式.png" class="frequency_box_bg_icon">
          <!-- 输出电频 -->
          <div class="frequency_bg">
            <div v-for="output,index in processor_detail.Channel_output_list" class="single_frequency_bar">
              <span style="font-size: 0.62vw;color: #2865C9;">{{output.gain}}</span>
              <div class="single_frequency_bar_box">
                <img src="./img/输入设备电频条.png" style="width: 100%;height: 100%;position: absolute;">
                <div :style="change_frequency_height(output)" class="out_progress_bar"></div>
              </div>
              <span style="font-size: 0.62vw;color: #2998FF;font-weight: bold;">O{{output.channel_no}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 输入 -->
      <div class="func_module" v-if="static_par.option_focus==1">
        <!-- 导航栏 -->
        <div class="nav_bar">
          <div class="nav_bar_decor" style="border-bottom: 2px solid rgba(18,47,93, 0.66);">
            <img src="./img/装饰图.png" style="width: 18px;height: 18px;">
          </div>
          <div class="module_layout">
            <div v-for="module,index in static_par.input_modules" class="single_module" @click="switch_module(index)"
              :style="{color:static_par.module_focus==index?'#02EEFF':'#707BBA'}">
              {{module.name}}
              <img :src="static_par.module_focus==index?'./img/模块背景亮.png':'./img/模块背景暗.png'" class="img_bg">
              <!-- <a :href="module.anchor" style="width: 100%;height: 100%;position: absolute;"></a> -->
            </div>
          </div>
          <div class="nav_bar_decor" style="border-top: 2px solid rgba(2,10,24, 0.66);">
            <img src="./img/装饰图.png" style="width: 18px;height: 18px;">
          </div>
        </div>
        <!-- 滚动显示功能框 -->
        <div class="scroll_display" @mousewheel="scroll_x($event)" ref="scroll_display">
          <div class="module_box">
            <!-- 延时 -->
            <div class="single_module_layout delay" id="delay">
              <span class="title">{{static_par.channel_name+static_par.input_modules[0].name}}</span>
              <div class="delay_box">
                <div style="width: 100%;height: 100%;display: grid;align-items: center;justify-items: center;">
                  <div class="input_box" v-for="i in 3">
                    <img src="./img/显示数字背景框.png" class="input_bg">
                    <input v-model.number="static_par.temp" class="input_text">
                  </div>
                </div>
                <div class="row_slider_box" @mousedown="slider_turn_to($event)" ref="delay_slider"
                  style="height:78%;align-self: center;">
                  <div class="slider_bg"></div>
                  <div class="delay_slider_cover" :style="change_cover_height(static_par.delay_slider_height)"></div>
                  <div class="delay_slider_thumb" :style="change_delay_slider_bottom(static_par.delay_slider_height)"
                    @mousedown.stop="slider_move($event)">
                    <img draggable="false" src="./img/滑块2.png" style="width:100%;height:100%;">
                  </div>
                </div>
                <!-- <div style="display: flex;">
                  <div class="button_style" style="margin-right: 10%;">复制到</div>
                  <div class="button_style">复位</div>
                </div> -->
              </div>
            </div>
            <!-- 噪声门 -->
            <div class="single_module_layout noise" id="noise">
              <span class="title">{{static_par.channel_name+static_par.input_modules[1].name}}</span>
              <div class="vertical">
                <div class="row_layout">
                  <span class="module_text_style" style="margin-right: 3.7%;">阈值(db)</span>
                  <div class="input_box" style="margin-right: 6.17%;">
                    <img src="./img/显示数字背景框.png" class="input_bg">
                    <input v-model.number="processor_detail.noise_and_feedback.threshold"
                      @keydown.enter="noise_feedback_control" class="input_text">
                  </div>
                  <row-slider :channel="processor_detail.noise_and_feedback.threshold" :slider_max="'0'"
                    :slider_min="'-120'" :device_id="resCommonParams.deviceId" :token="resCommonParams.loginToken"
                    @slider_num="processor_detail.noise_and_feedback.threshold=$event"
                    :noise_feedback="processor_detail.noise_and_feedback">
                  </row-slider>
                </div>
                <div class="row_layout">
                  <span class="module_text_style" style="margin-right: 3.7%;">启动时间(ms)</span>
                  <div class="input_box" style="margin-right: 6.17%;">
                    <img src="./img/显示数字背景框.png" class="input_bg">
                    <input v-model.number="processor_detail.noise_and_feedback.start_time"
                      @keydown.enter="noise_feedback_control" class="input_text">
                  </div>
                  <row-slider :channel="processor_detail.noise_and_feedback.start_time" :slider_max="'1000'"
                    :slider_min="'20'" :device_id="resCommonParams.deviceId" :token="resCommonParams.loginToken"
                    @slider_num="processor_detail.noise_and_feedback.start_time=$event"
                    :noise_feedback="processor_detail.noise_and_feedback"></row-slider>
                </div>
                <div class="row_layout">
                  <span class="module_text_style" style="margin-right: 3.7%;">恢复时间(ms)</span>
                  <div class="input_box" style="margin-right: 6.17%;">
                    <img src="./img/显示数字背景框.png" class="input_bg">
                    <input v-model.number="processor_detail.noise_and_feedback.recover_time"
                      @keydown.enter="noise_feedback_control" class="input_text">
                  </div>
                  <row-slider :channel="processor_detail.noise_and_feedback.recover_time" :slider_max="'1000'"
                    :slider_min="'20'" :device_id="resCommonParams.deviceId" :token="resCommonParams.loginToken"
                    @slider_num="processor_detail.noise_and_feedback.recover_time=$event"
                    :noise_feedback="processor_detail.noise_and_feedback"></row-slider>
                </div>
                <div class="button_style" @mousedown="noise_button"
                  :style="{boxShadow:processor_detail.noise_and_feedback.noise_gate_status==1?'':'none'}">直通</div>
              </div>
            </div>
            <!-- 反馈抑制 -->
            <div class="single_module_layout feedback_inhibition" id="feedback">
              <span class="title">{{static_par.channel_name+static_par.input_modules[2].name}}</span>
              <div class="vertical">
                <div style="position: relative;width: 74px;height: 32px;cursor: pointer;" @click="feedback_button">
                  <img src="./img/开关槽.png" class="img_bg">
                  <img src="./img/开关球.png"
                    :style="{width: '30px',height: '100%',position: 'absolute',left:processor_detail.noise_and_feedback.feedback_suppressor_status==1?'':'0',right:processor_detail.noise_and_feedback.feedback_suppressor_status==1?'0':''}">
                  <div
                    :style="{width:processor_detail.noise_and_feedback.feedback_suppressor_status==1?'96%':'0',height:'100%',background:'#0E67ED',borderRadius:'16px'}">
                  </div>
                </div>
              </div>
            </div>
            <!-- 滤波 -->
            <div class="single_module_layout filter" id="filter">
              <span class="title">{{static_par.channel_name+static_par.input_modules[3].name}}</span>
              <div class="three_column_layout">
                <!-- 滤波左下部分 -->
                <div style="grid-area: b;width: 100%;display: grid;justify-items: center;">
                  <div style="display: flex;align-items: center;">
                    <span class="module_text_style">滤波</span>
                    <div v-for="i in 16" @click="static_par.filter_focus=i" class="filter_focus"
                      :style="{color:static_par.filter_focus==i?'#ABCBFF':'#ABCBFF'}">{{i}}
                      <img :src="static_par.filter_focus==i?'./img/滤波选项亮.png':'./img/滤波选项暗.png'" class="img_bg">
                    </div>
                  </div>
                  <div style="width: 100%;justify-content: space-around;" class="row_layout">
                    <span class="module_text_style">频率(Hz)</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'" style="width: 11%;">
                    </row-slider>
                    <span class="module_text_style">增益(dB)</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'" style="width: 11%;">
                    </row-slider>
                    <span class="module_text_style">Q</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'" style="width: 11%;">
                    </row-slider>
                    <div class="button_style">直通</div>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                  </div>
                </div>
                <!-- 滤波中间 -->
                <div class="vertical" style="grid-area: c;width: 100%;height: 100%;">
                  <div class="col_line" style="left: 0;"></div>

                  <span style="font-size: 14px;color: #355CBB;">高通</span>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">频率(Hz)</span>
                    <div class="input_box" style="margin-right: 6.5%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout" style="justify-content: start;">
                    <span class="module_text_style" style="margin-right: 8.5%;">类型</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style">斜率</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <div class="button_style">直通</div>
                  </div>

                  <div class="col_line" style="right: 0;"></div>
                </div>
                <!-- 滤波右边 -->
                <div class="vertical" style="grid-area: d;width: 100%;height: 100%;">
                  <span style="font-size: 14px;color: #355CBB;">低通</span>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">频率(Hz)</span>
                    <div class="input_box" style="margin-right: 6.5%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout" style="justify-content: start;">
                    <span class="module_text_style" style="margin-right: 8.5%;">类型</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style">斜率</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <div class="button_style">直通</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 压限 -->
            <div class="single_module_layout press_limit" id="press_limit">
              <span class="title">{{static_par.channel_name+static_par.input_modules[4].name}}</span>
              <div class="two_column_layout">

                <div class="vertical" style="grid-column-start: 2;grid-column-end: 3;">
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">阈值(db)</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">斜率</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">启动时间(ms)</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">恢复时间(ms)</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="button_style">直通</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 输出 -->
      <div class="func_module" v-if="static_par.option_focus==2">
        <!-- 导航栏 -->
        <div class="nav_bar">
          <div class="nav_bar_decor" style="border-bottom: 2px solid rgba(18,47,93, 0.66);">
            <img src="./img/装饰图.png" style="width: 18px;height: 18px;">
          </div>
          <div class="module_layout">
            <div v-for="module,index in static_par.output_modules" class="single_module" @click="switch_module(index)"
              :style="{color:static_par.module_focus==index?'#02EEFF':'#707BBA'}">
              {{module.name}}
              <img :src="static_par.module_focus==index?'./img/模块背景亮.png':'./img/模块背景暗.png'" class="img_bg">
              <!-- <a :href="module.anchor" style="width: 100%;height: 100%;position: absolute;"></a> -->
            </div>
          </div>
          <div class="nav_bar_decor" style="border-top: 2px solid rgba(2,10,24, 0.66);">
            <img src="./img/装饰图.png" style="width: 18px;height: 18px;">
          </div>
        </div>
        <!-- 滚动显示功能框 -->
        <div class="scroll_display" @mousewheel="scroll_x($event)" ref="scroll_display">
          <div class="module_box">
            <!-- 延时 -->
            <div class="single_module_layout delay" id="delay">
              <span class="title">{{static_par.channel_name+static_par.output_modules[0].name}}</span>
              <div class="delay_box">
                <div style="width: 100%;height: 100%;display: grid;align-items: center;justify-items: center;">
                  <div class="input_box" v-for="i in 3">
                    <img src="./img/显示数字背景框.png" class="input_bg">
                    <input v-model.number="static_par.temp" class="input_text">
                  </div>
                </div>
                <div class="row_slider_box" @mousedown="slider_turn_to($event)" ref="delay_slider"
                  style="height:78%;align-self: center;">
                  <div class="slider_bg"></div>
                  <div class="delay_slider_cover" :style="change_cover_height(static_par.delay_slider_height)"></div>
                  <div class="delay_slider_thumb" :style="change_delay_slider_bottom(static_par.delay_slider_height)"
                    @mousedown.stop="slider_move($event)">
                    <img draggable="false" src="./img/滑块2.png" style="width:100%;height:100%;">
                  </div>
                </div>
                <!-- <div style="display: flex;">
                  <div class="button_style" style="margin-right: 10%;">复制到</div>
                  <div class="button_style">复位</div>
                </div> -->
              </div>
            </div>
            <!-- 滤波 -->
            <div class="single_module_layout filter" id="filter">
              <span class="title">{{static_par.channel_name+static_par.output_modules[1].name}}</span>
              <div class="three_column_layout">
                <!-- 滤波左下部分 -->
                <div style="grid-area: b;width: 100%;display: grid;justify-items: center;">
                  <div style="display: flex;align-items: center;">
                    <span class="module_text_style">滤波</span>
                    <div v-for="i in 16" @click="static_par.filter_focus=i" class="filter_focus"
                      :style="{color:static_par.filter_focus==i?'#ABCBFF':'#ABCBFF'}">{{i}}
                      <img :src="static_par.filter_focus==i?'./img/滤波选项亮.png':'./img/滤波选项暗.png'" class="img_bg">
                    </div>
                  </div>
                  <div style="width: 100%;justify-content: space-around;" class="row_layout">
                    <span class="module_text_style">频率(Hz)</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'" style="width: 11%;">
                    </row-slider>
                    <span class="module_text_style">增益(dB)</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'" style="width: 11%;">
                    </row-slider>
                    <span class="module_text_style">Q</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'" style="width: 11%;">
                    </row-slider>
                    <div class="button_style">直通</div>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                  </div>
                </div>
                <!-- 滤波中间 -->
                <div class="vertical" style="grid-area: c;width: 100%;height: 100%;">
                  <div class="col_line" style="left: 0;"></div>

                  <span style="font-size: 14px;color: #355CBB;">高通</span>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">频率(Hz)</span>
                    <div class="input_box" style="margin-right: 6.5%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout" style="justify-content: start;">
                    <span class="module_text_style" style="margin-right: 8.5%;">类型</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style">斜率</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <div class="button_style">直通</div>
                  </div>

                  <div class="col_line" style="right: 0;"></div>
                </div>
                <!-- 滤波右边 -->
                <div class="vertical" style="grid-area: d;width: 100%;height: 100%;">
                  <span style="font-size: 14px;color: #355CBB;">低通</span>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">频率(Hz)</span>
                    <div class="input_box" style="margin-right: 6.5%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout" style="justify-content: start;">
                    <span class="module_text_style" style="margin-right: 8.5%;">类型</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style">斜率</span>
                    <div class="input_box">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <div class="button_style">直通</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 压限 -->
            <div class="single_module_layout press_limit" id="press_limit">
              <span class="title">{{static_par.channel_name+static_par.output_modules[2].name}}</span>
              <div class="two_column_layout">

                <div class="vertical" style="grid-column-start: 2;grid-column-end: 3;">
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">阈值(db)</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">斜率</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">启动时间(ms)</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="row_layout">
                    <span class="module_text_style" style="margin-right: 3.7%;">恢复时间(ms)</span>
                    <div class="input_box" style="margin-right: 6.17%;">
                      <img src="./img/显示数字背景框.png" class="input_bg">
                      <input v-model.number="static_par.temp" class="input_text">
                    </div>
                    <row-slider :channel="static_par.temp" :slider_max="'+12'" :slider_min="'-12'"></row-slider>
                  </div>
                  <div class="button_style">直通</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="static_par.option_focus==3"
        style="grid-column-start: 1;grid-column-end: 3;grid-row-start: 1;grid-row-end: 3;">
        <iframe src="./调音台dsp/index.html?" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
      </div>
      <!-- 混音前增益 -->
      <div class="mix_sound scroll_display" v-if="static_par.option_focus==4" @mousewheel="scroll_x($event)"
        ref="scroll_display">
        <div class="single_slider_content" v-for="input,index in processor_detail.Channel_input_list">
          <div class="slider_name">IN {{input.channel_no}}</div>
          <div class="mix_sound_display">
            <!-- 反相 -->
            <div @click="reverse_off(input)" class="soundOff">
              <img :src="[input.temp_reverse==0?'./img/静音通常.png':'./img/静音.png']"
                style="position: absolute;width: 100%;height: 100%;">
              <span :style="{fontSize: '12px',color:input.temp_reverse==0?'#ABCBFF':'#FFABCF',zIndex:'1'}">反相</span>
            </div>
            <!-- 静音 -->
            <div @click="soundOff(input)" class="soundOff">
              <img :src="[input.mute==0?'./img/静音通常.png':'./img/静音.png']"
                style="position: absolute;width: 100%;height: 100%;">
              <span :style="{fontSize: '12px',color:input.mute==0?'#ABCBFF':'#FFABCF',zIndex:'1'}">静音</span>
            </div>
            <!-- 输入框 -->
            <div class="slider_num">
              <input @keyup.enter="command_send(input)" v-model.number="input.temp_input" maxlength="5"
                class="slider_num_input">
              <span style="font-size: 12px;color: #ABCBFF;">dB</span>
            </div>
            <!-- 滑块 -->
            <div class="slider_box">
              <span class="slider_range">+12</span>
              <div @mousedown="sliderTurnTo($event,input)" class="slider" ref="slider">
                <img src="./img/滑块小.png" style="width: 100%;height: 100%;position: absolute;">
                <div class="slider_bar"></div>
                <div :style="change_cover_height(input.gain)" class="slider_cover"></div>
                <div :style="change_slider_bottom(input.gain)" @mousedown.stop="silderMove($event,input)"
                  class="slider_img"></div>
              </div>
              <span class="slider_range">-12</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 预设 -->
      <div v-if="static_par.option_focus==5"
        style="grid-column-start: 1;grid-column-end: 3;grid-row-start: 1;grid-row-end: 3;">
        <iframe src="./调音台dsp/index.html?type=matrix2" frameborder="0" scrolling="no" width="100%"
          height="100%"></iframe>
      </div>
      <!-- 滑动条控制 -->
      <div v-show="static_par.option_focus!=3 & static_par.option_focus!=5" class="sliderControlContent">
        <img src="./img/装饰点.png" style="width: 19px;height: 18px;">
        <div class="controlContent">
          <single-slider v-for="input,index in processor_detail.Channel_input_list" :channel="input"
            :token="resCommonParams.loginToken" :in_title="'IN'" :out_title="'OUT'" :in_or_out="0" :slider_max="'+12'"
            :slider_min="'-12'" @channel_name_event="static_par.channel_name=$event"
            @option_focus="static_par.option_focus=$event"
            @noise_feedback_event="processor_detail.noise_and_feedback=$event">
          </single-slider>
        </div>
        <img src="./img/装饰点.png" style="width: 19px;height: 18px;">
      </div>
      <div v-show="static_par.option_focus!=3 & static_par.option_focus!=5" class="sliderControlContent">
        <img src="./img/装饰点.png" style="width: 19px;height: 18px;">
        <div class="controlContent">
          <single-slider v-for="output,index in processor_detail.Channel_output_list" :channel="output"
            :token="resCommonParams.loginToken" :in_title="'IN'" :out_title="'OUT'" :in_or_out="1" :slider_max="'+12'"
            :slider_min="'-12'" @channel_name_event="static_par.channel_name=$event"
            @option_focus="static_par.option_focus=$event">
          </single-slider>
        </div>
        <img src="./img/装饰点.png" style="width: 19px;height: 18px;">
      </div>
    </div>
  </div>

</body>
<script src="./module/jquery-3.6.0.js"></script>
<script src="./module/underscore-min.js"></script>
<script src="./module/vue.js"></script>
<script src="./module/element-ui.js"></script>
<script src="./module/axios.min.js"></script>
<script src="./vue_template.js"></script>
<script src="./frequency.js"></script>

</html>